<div style="text-align:center;">
	<canvas id="canvas_reseau" width="500" height="400"></canvas>
	<canvas id="canvas_p_f_prix" width="500" height="400"></canvas>
</div>
<script type="text/javascript">
	var data_line={
		axis:["Puissance","Prix"],
		labels:[],
		values:[[],[]]
	};
	var type_agents=[];
	var ordres=[];
	var joueurs=[];
	var joueurs_par_pk=[];
	var agents_def=[];
	var agents=[];
	var agents_par_pk=[];
	var agents_aff=[];
	var prix_reseau=[];
	var joueur={};
	var affiche_nom=false;
	var prix_final=0;
	
	function range(mini,maxi,n) {
		var r=[];
		step=(maxi-mini)/(n-1);
		var i=0;
		for(var i=0;i<n;i++) {
			r[i]=Math.round((mini*1+i*step)*100)/100;
		}
		return r;
	}
	
	function f_p(prix){
		var p=0;
		for(i in ordres) {
			if(ordres[i].prix*1<=prix && ordres[i].puissance*1>0)
				p+=ordres[i].puissance*1;
		}
		return p;
	}
	
	function f_c(prix){
		var p=0;
		for(i in ordres) {
			if(ordres[i].prix*1>prix && ordres[i].puissance*1<0) // l'inégalité stricte n'est pas "physiquement" correcte mais nécéssaire pour que le reste fonctionne correctement
				p+=ordres[i].puissance*1;
		}
		return p;
	}
	
	function prix_c(puissance){//puissance>0
		var	prix=0;
		var ordres_prix=ordres.slice();
		ordres_prix.sort(function(a,b){return b.prix-a.prix});
		for(i in ordres_prix) {
			if(ordres_prix[i].puissance*1<0) {
				prix=ordres_prix[i].prix;
				puissance+=ordres_prix[i].puissance*1;
			}
			if(puissance<0)
				break;
		}
		if(puissance>0)
			return 0;
		return prix;
	}
	
	function prix_p(puissance,pmax){
		var	prix=0;
		var ordres_prix=ordres.slice();
		ordres_prix.sort(function(a,b){return a.prix-b.prix});
		for(i in ordres_prix) {
			if(ordres_prix[i].puissance*1>0) {
				puissance-=ordres_prix[i].puissance;
				prix=ordres_prix[i].prix;
			}
			if(puissance<=0)
				break;
		}
		if(puissance>0)
			return pmax;
		return prix;
	}
	
	function prix_intersect() {
		var i=0;
		while(f_p(prix_reseau[i])+f_c(prix_reseau[i])<0) {
			i++;
		}
		if(i==prix_reseau.length)
			i--;
		return prix_reseau[i];
	}
	
	function diff(a,prop) {
		var r=[];
		if(a.length)
			r[0]=a[0];
		if(prop) {
			r=a.slice();
			for(var i=a.length-1;i>0;i--) {
				r[i][prop]=a[i][prop]-a[i-1][prop];
			}
		} else {
			for(var i=a.length-1;i>0;i--) {
				r[i]=a[i]-a[i-1];
			}
		}
		return r;
	}
	
	var t=0;
	function maj_graphique() {
		var ag_tmp=[];
		for(z in agents) {
			ag_tmp[z]={};
			if(agents_aff[z]) {
				ag_tmp[z].value=Math.round(100*(1*agents_aff[z].value+1.1*agents[z].value)/2.1)/100;
			} else {
				ag_tmp[z].value=Math.round(100*agents[z].value)/100;
			}
			ag_tmp[z].label=agents[z].label;
			if(!ag_tmp[z].value)
				ag_tmp[z].value=Math.round(100*agents[z].value)/100;
		}
		ag_tmp.center=["Prix",prix_final];
		agents_aff=ag_tmp;
		DraC.line(DraC.$("canvas_p_f_prix"),data_line);
		Voluspa.roundTable(DraC.$("canvas_reseau"),agents_aff);
	}
	function maj_data() {
		var f="/data.json";
		function cb() {
			agents=[];
			for(a in joueurs) {
				agents[a]={
					"label":joueurs[a].nom
					}
			}
			agents_def=[];
			agents_par_pk=[];
			ordres=[];
			for(i in json_files[f]) {
				switch(json_files[f][i].model) {
					case "munin.agent":
						agents_def.push(json_files[f][i].fields);
						agents_def[agents_def.length-1].ordres=[];
						agents_par_pk[json_files[f][i].pk]=agents_def.length-1;
						break;
					case "munin.ordre":
						ordres.push(json_files[f][i].fields);
						break;
					case "munin.joueur":
						joueur=json_files[f][i].fields;
						joueur.pk=json_files[f][i].pk;
				}
			}
			for(o in ordres) {
				agents_def[agents_par_pk[ordres[o].agent]].ordres.push(ordres[o]);
			}
			var ag_tmp=ordres.slice();
			ag_tmp.sort(function(a,b){return a.prix-b.prix});
			for(a in agents_def) {
				agents_def[a].ordres.sort(function(a,b){return Math.abs(a.puissance)-Math.abs(b.puissance)});
				agents_def[a].ordres=diff(agents_def[a].ordres,"puissance");
			}
			
			for(i in ordres) {
				prix_reseau[i]=ag_tmp[i].prix;
			}
			var	mini=mini=0,
				maxi=prix_reseau[prix_reseau.length-1];
			
			maxi=Math.max(f_p(maxi),-f_c(mini));
			data_line.labels=range(mini,maxi*1+0.5,150);
			for(j in data_line.labels) {
				data_line.values[0][j]=prix_p(data_line.labels[j],prix_c(0)*1+1);
				data_line.values[1][j]=prix_c(data_line.labels[j]);
			}
			
			//calcul du prix (intersection des prix de prod et de conso)
			prix_final=prix_intersect()*1;
				
			var	pprod=0,
				pcons=0,
				popti=Math.max(-f_c(prix_final),f_p(prix_final));
				//popti=-f_c(prix_final);
				
			//écrétage des puissances
			
			for(var k in ag_tmp) {
				if(ag_tmp[k].puissance*1>0 && ag_tmp[k].prix<=prix_final) {
					pprod+=ag_tmp[k].puissance*1;
					if(pprod>popti) {
						ag_tmp[k].puissance-=pprod-popti;
						pprod=popti;
					}
				}
			}
			k++;
			while(k) {
				k--;
				if(ag_tmp[k].puissance<0 && ag_tmp[k].prix>=prix_final) {
					pcons-=ag_tmp[k].puissance*1;
					if(pcons>popti) {
						ag_tmp[k].puissance-=popti-pcons;
						pcons=popti;
					}
				}
			}
			popti=Math.min(pprod,pcons);
			pcons=0;
			pprod=0;
			// deuxième passe
			for(var k in ag_tmp) {
				if(ag_tmp[k].puissance*1>0) {
					pprod+=ag_tmp[k].puissance*1;
					if(pprod>popti) {
						ag_tmp[k].puissance-=pprod-popti;
						pprod=popti;
					}
				}
			}
			k++;
			while(k) {
				k--;
				if(ag_tmp[k].puissance<0) {
					pcons-=ag_tmp[k].puissance*1;
					if(pcons>popti) {
						ag_tmp[k].puissance-=popti-pcons;
						pcons=popti;
					}
				}
			}
			
			//formatage pour l'affichage
			
			for(p in agents) {
				agents[p].value=0;
			}
			joueur.cout=0;
			for(g in agents_def) {
				agents_def[g].value=0;
				for(var i=agents_def[g].ordres.length;i;i--) {
					agents_def[g].value+=agents_def[g].ordres[i-1].puissance*1;
				}
				if(agents_def[g].joueur==joueur.pk) {
					joueur.cout+=agents_def[g].value*type_agents[agents_def[g].type_agent].prix;
				}
				if(joueurs_par_pk[agents_def[g].joueur])
					if(agents[joueurs_par_pk[agents_def[g].joueur].i])
						agents[joueurs_par_pk[agents_def[g].joueur].i].value+=agents_def[g].value*1;
			}
			if(affiche_nom)
				affiche_nom();
			// là : màj des sous pour le serveur
		}
		loadJSON(f,cb);
	}
	setInterval(maj_graphique,50);
	setInterval(maj_data,1500);
	function maj_data_lente() {
		var f="/type_agents.json";
		function cb() {
			type_agents=[];
			for(i in json_files[f]) {
				type_agents[json_files[f][i].pk]=json_files[f][i].fields;
			}
		}
		loadJSON(f,cb);
		var f2="/joueurs.json";
		function cb2(){
			joueurs=[];
			for(i in json_files[f2]) {
				joueurs[i]={
					'nom':json_files[f2][i].fields.nom,
					'pk':json_files[f2][i].pk,
					'i':i,
					'argent':json_files[f2][i].fields.argent
					};
				joueurs_par_pk[joueurs[i].pk]=joueurs[i];
			}
		}
		loadJSON(f2,cb2);
	}
	setTimeout(maj_data_lente,400);
	setInterval(maj_data_lente,3000);
</script>
