{% load munin_extra %}
<tr>
	<td>
		<form method="post" action="" onsubmit="envoi_nom(this);return false;" onkeypress="this.valide.style.visibility='visible';">
			{% csrf_token %}
			<input name="pk" value="{{ agent.pk }}" required type="hidden"/>
			<input name="nom" value="{{ agent.nom }}" required maxlength="50" size="30"/>
			<input name="valide" type="submit" value="Envoyer" style="visibility:hidden"/>
		</form>
		Puissance
		<span>
			{% if agent.type_agent.puissance|float > 0 %}
				produite
			{% else %}
				consommée
			{% endif %}
		</span>
		max : 
		<span>
			{% if agent.type_agent %}
				{{agent.type_agent.puissance|float|abs}}
			{% endif %}
		</span>
		<br />
		<span>
			{% if agent.type_agent.puissance|float > 0 %}
				Coût
			{% else %}
				Revenu
			{% endif %}
		</span>
		par W :
		<span>
			{% if agent.type_agent %}
				{{agent.type_agent.prix|float|abs}}
			{% endif %}
		</span>
		<br />
		<form method="post" action="" onsubmit="ajout_ordre(this);return false;">
			{% csrf_token %}
			<input name="agent" value="{{ agent.pk }}" required type="hidden"/>
			<input name="puissance" value="{{ agent.type_agent.puissance }}" required type="hidden"/>
			<input name="valide" type="submit" value="Ajouter ordre"/>
		</form>
		<canvas width=120 height=140></canvas>
	</td>
	<td>
		{% if agent.ordre_set %}
			{% with ordres=agent.ordre_set.all|sort_by:'puissance' %}
				{% for ordre in ordres %}
					{% include "munin/ordre.html" %}
				{% endfor %}
			{% endwith %}
		{% endif %}
	</td>
</tr>
