{% extends "munin/base.html" %}

{% block contenu %}

{% include "munin/affichage_reseau.html" %}

<div style="text-align:center">
	<form method="post" action="" onsubmit="envoi_nom(this);return false;" onkeypress="this.valide.style.visibility='visible';">
		{% csrf_token %}
		<input name="nom" value="{{ joueur.nom }}" required maxlength="50" size="30"/>
		<input name="valide" type="submit" value="Envoyer" style="visibility:hidden"/>
	</form>
</div>
<div>
	<table>
		{% for agent in joueur.agent_set.all %}
			{% include "munin/agent.html" %}
		{% endfor %}
	</table>
</div>
<script type="text/javascript">
	function envoi_nom(f) {
		function cb() {
			f.valide.style.visibility='hidden';
		}
		loadFile("/jeu.html",cb,new FormData(f));
	}
	function envoi_ordre(f) {
		function cb() {
			f.valide.style.visibility='hidden';
		}
		var fp=f.parentNode;
		for(var i in fp.children) {
			if(fp.children[i].prix) {
				fp.children[i].puissance.value=sign(fp.children[i].puissance_agent.value)*Math.max(0,Math.min(Math.abs(fp.children[i].puissance.value),Math.abs(fp.children[i].puissance_agent.value)));
			}
		}
		sortHTML(fp,function(a,b){
			return a.puissance.value-b.puissance.value;
			});
		for(var i in fp.children) {
			if(fp.children[i+1]) {
				if(fp.children[i+1].prix) {
					fp.children[i].prix.value=Math.min(fp.children[i].prix.value,fp.children[i-1].prix.value);
				}
			}
			if(fp.children[i-1]) {
				if(fp.children[i-1].prix) {
					fp.children[i].prix.value=Math.max(fp.children[i].prix.value,fp.children[i-1].prix.value);
				}
			}
		}
		loadFile("/maj_ordre",cb,new FormData(f));
	}
	function suppr_ordre(e) {
		function cb() {
			e.parentNode.removeChild(e);
		}
		loadFile("/suppr_ordre",cb,new FormData(e));
	}
	function ajout_ordre(e) {
		function cb() {
			var t=DraC.$("template_ordre").content||DraC.$("template_ordre").firstElementChild;// merci IE, on le dira jamais assez
			e.parentNode.nextElementSibling.appendChild(cloneNode(t));
			e.parentNode.nextElementSibling.lastElementChild.pk.value=files["/ajout_ordre"];
			e.parentNode.nextElementSibling.lastElementChild.prix.value=0;
			e.parentNode.nextElementSibling.lastElementChild.puissance_agent.value=e.puissance.value;
			e.parentNode.nextElementSibling.lastElementChild.puissance.value=0;
		}
		loadFile("/ajout_ordre",cb,new FormData(e));
	}
</script>

<template style="display:none;" id="template_ordre">
	{% include "munin/ordre.html" %}
</template>

{% endblock %}
